<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e1e1e1;">
  <a class="navbar-brand" routerLink="/home">
    <img src="../assets/images/logo.gif" width="140" height="50" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
      </li>
      <li class="nav-item" routerLinkActive="active">
      </li>
    </ul>
    <div class="navbar-text" *ngIf="loggedIn">
       <img src={{user.image_url}} height="50" alt="">
       <span> {{user.email}}</span>
       <a href=""> Cerrar</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row ct-coments">
    <ul class="list-unstyled">
      <li class="media" *ngFor="let coment of coments">
        <img src="{{coment.info_user.image_url}}" class="mr-3 img-responsive  " width="50"   height="50" alt="user">
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{coment.info_user.name + ' ' + coment.info_user.lastname }}</h5>
          {{coment.body}}
            <div class="text-right">{{coment.created_at}}</div>
        </div>
      </li>
     </ul>
  </div>
  <div class="row ct-submit">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Ingrese su comentario" aria-label="Recipient's username" aria-describedby="button-addon2" #message name="message">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"  (click)="sendMessage(message.value, $event)">Enviar</button>
      </div>
    </div>
  </div>
</div>

